{{#x-form
   class="test-meetup-request-form"
   data=defaults
   onSubmit=(action "submit")
   as |form|
}}
  <div class="flexrow">
    {{#form.field property="category" as |field|}}
      Category:
      {{#x-select
         value=field.value
         action=(action field.actions.onChange)
         as |xs|}}
        {{#each categories as |category|}}
          {{#xs.option value=category.value}}{{category.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    {{/form.field}}
  </div>

  <div class="flexrow">
    {{#if useCurrentLocation}}
      ZipCode: Current Location
    {{else}}
      {{#form.field property="zip" as |field|}}
        ZipCode: {{one-way-input
          value=field.value
          update=(action field.actions.onChange)
          name="zipcode"
        }}
      {{/form.field}}

      or

      <p class="btn" {{action "setCurrentLocation"}}>
        Use Current Location
      </p>
    {{/if}}
  </div>

  <button
      class={{concat "btn btn-primary" (if waitingForLocation " disabled")}}
      disabled={{waitingForLocation}}
      {{action form.actions.submit}}>
    Find Groups
  </button>
{{/x-form}}
