{{#each meetups as |meetup|}}
  <div class="content-piece {{if meetup.selected "selected"}}" {{action "toggle" meetup}}>
    <div class="content-piece-image-container">
      <img src={{meetup.imageUrl}} class="content-piece-image">
    </div>
    <div class="content-piece-body">
      <h3 class="test-resource-card__full content-piece-title">{{{meetup.name}}}</h3>
      <div class="content-piece-info">
        <span class="content-piece-category">{{meetup.category}}</span>
        <span class="content-piece-members">{{meetup.members}} Members</span>
      </div>
    </div>
  </div>
{{else}}
  <div class="media-filter-empty-state">
    {{#if query}}
      <h3>No Meetups for "<span class="keyword">{{query}}</span>"</h3>
    {{else}}
      <h3>No Meetups</h3>
    {{/if}}
  </div>
{{/each}}

<button class="btn btn-primary" {{action "loadMore"}}>
  Load More Groups
</button>
