{{#x-form
   class="meetup-find-form"
   data=defaults
   onSubmit=(action "submit")
   as |form|
}}
  {{#form.field property="zip" class="form-row" as |field|}}

    <div class="form-row">
      <button
          class={{concat "btn btn-primary" (unless currentLocation " disabled")}}
          disabled={{unless currentLocation " disabled"}}
          {{action "setCurrentLocation"}}>
        Use Current Location
      </button>
    </div>

    <span class="center">or</span>

    Enter ZipCode:
    {{one-way-input
      value=field.value
      update=(action field.actions.onChange)
      name="zipcode"
    }}

    <button
        class={{concat "btn btn-primary" (if waitingForLocation " disabled")}}
        disabled={{waitingForLocation}}
        {{action form.actions.submit}}>
      Find Groups
    </button>

  {{/form.field}}
{{/x-form}}
