<ul class="groups__all">
  {{#each meetups as |meetup|}}
    <li class="tile {{if meetup.selected "selected"}}" {{action "toggle" meetup}}>
      <div class="tile-image-container">
        <img class="tile-image" src={{meetup.imageUrl}}>
      </div>
      <div class="tile-body">
        <div class="tile-body__title">
          {{meetup.name}}
        </div>
        <div class="tile-body__events">
          {{#if meetup.events.length}}
            {{meetup.events.length}} Events
          {{else}}
            Events Unknown
          {{/if}}
        </div>
      </div>
      <div class="tile-info">
        <span class="tile-info__category">
          {{meetup.category}}
        </span>
        <span class="tile-info__members">
          {{meetup.members}} Members
        </span>
      </div>
    </li>
  {{else}}
    <div class="no_tiles">
      {{#if query}}
        <h3>No Meetups for "<span class="keyword">{{query}}</span>"</h3>
      {{else}}
        <h3>No Meetups</h3>
      {{/if}}
    </div>
  {{/each}}
</ul>
