<ul class = "eventlist">
  {{#each events as |event|}}
    <li class= "row {{if event.isNotated "notated"}}">
      <div class="col-xs-9">
        <div class="gender-description">
          <h3 style="color:#2bbab0;">{{event.name}}</h3>
          {{{event.description}}}
        </div>
      </div>

      <div class="col-xs-3 gender-counts">
        <div class="gender-count">
          <button class="btn btn-primary {{unless event.hasMale "disabled"}}"
                  disabled={{unless event.hasMale "true"}}
                  {{action "decrement" event "male" "female"}}>-</button>
          <p style="display:inline" class="gender-count__details">
            Male Speakers: {{if event.isNotated event.maleSpeakers "0"}}
          </p>
          <button class="btn btn-primary" {{action "increment" event "male"}}>+</button>
        </div>
        <div class="gender-count">
          <button class="btn btn-primary {{unless event.hasFemale "disabled"}}"
                  disabled={{unless event.hasFemale "true"}}
                  {{action "decrement" event "female"}}>-</button>
          <p style="display:inline" class="gender-count__details">
            Female Speakers: {{if event.isNotated event.femaleSpeakers "0"}}
          </p>
          <button class="btn btn-primary" {{action "increment" event "female"}}>+</button>
        </div>
        <div class="gender-count non-binary">
          <button class="btn btn-primary {{unless event.hasNonBinary "disabled"}}"
                  disabled={{unless event.hasNonBinary "true"}}
                  {{action "decrement" event "nonBinary"}}>-</button>
          <p style="display:inline" class="gender-count__details">
            Non-Binary Speakers: {{if event.isNotated event.nonBinarySpeakers "0"}}
          </p>
          <button class="btn btn-primary" {{action "increment" event "nonBinary"}}>+</button>
        </div>
        <div class="gender-count row no-speakers">
          <!-- Consider a Toggle Switch for No Speakers -->
          <button
              class="btn btn-primary {{if event.isNotated "disabled"}}"
              disabled={{if event.isNotated "true"}}
              {{action "none" event}}>
            No Speakers
          </button>
        </div>

      </div>
    </li>
  {{/each}}
</ul>

{{outlet}}
