

<div class = "row group-speakers">
    <div class="col-sm-5">
      <h2 class = "eventname">{{model.name}}</h2>
    </div>
    <div class="col-sm-2 group-speakers__male">
      <span class="count">{{model.maleSpeakers}}</span>
      <span class="identity">Male</span>
      <span class="percent">({{model.malePercentage}}%)</span>
    </div>
    <div class="col-sm-2 group-speakers__female">
      <span class="count">{{model.femaleSpeakers}}</span>
      <span class="identity">Female</span>
      <span class="percent">({{model.femalePercentage}}%)</span>
    </div>
    <div class="col-sm-3 group-speakers__nonbinary">
      <span class="count">{{model.nonBinarySpeakers}}</span>
      <span class="identity">Non-Binary</span>
      <span class="percent">({{model.nonBinaryPercentage}}%)</span>
    </div>
</div>


{{outlet}}
