<div class="media-filter-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {{#each selectedGroups as |meetup|}}
          {{#link-to 'groups.group' meetup
             tagName="li"
             class="content-piece content-piece-index"
          }}
            <div class="content-piece-body">
              <h3 class="test-resource-card__full content-piece-title">{{{meetup.name}}}</h3>
              <div class="content-piece-info">
                <span class="content-piece-category">{{meetup.category}}</span>
                <span class="content-piece-members">{{meetup.members}} Members</span>
              </div>
            </div>
          {{/link-to}}
        {{else}}
          <div class="media-filter-empty-state">
            <h3>Select Meetups</h3>
          </div>
        {{/each}}
      </div>
      <div class="col-lg-9">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

{{export-csv groups=model}}
